
node_modules/
*/node_modules/

.env
*/.env


dist/
*/dist/
build/
*/build/


*.log
npm-debug.log*
logs/

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo

*.tmp
.cache/

frontend/node_modules/
frontend/.env
frontend/dist/
frontend/build/
frontend/.next/
frontend/.cache/
frontend/.turbo/
frontend/out/


backend/node_modules/
backend/.env
backend/dist/
backend/build/
backend/logs/
backend/tmp/
backend/.cache/
